@{
    ViewBag.Title = "最热查询";
}

<h2>@ViewBag.Title</h2>

<div>
    <table class="table">
        <thead>
            <tr>
                @{
                    int index = 0;
                }
                <th>#</th>
                <th>查询</th>
                <th style="width:30%">次数</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entity in ViewBag.EntityList)
            {
                index++;
                <tr>
                    <td>@index</td>
                    <td>@entity.PartitionKey</td>
                    <td>@entity.TotalCount</td>
                </tr>
            }
        </tbody>
    </table>
</div>