@{
    ViewBag.Title = "美图必看";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">萌图美图高清图，应有尽有！</p>
    <p class="lead">发现美图，分享美图</p>
    <p><a href="http://meitubikan.blob.core.chinacloudapi.cn/app/meitubikan.apk" class="btn btn-primary btn-lg">点击下载Android版本</a></p>
</div>
